<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Category management</h1>

<div th:if="${success}" class="notification success" th:text="success"></div>
<div th:if="${error}" class="notification error" th:text="error"></div>

<!--<button class="btn btn-create_primary" onclick="toggleCreateForm()">Create category</button>-->

<div id="createCategoryForm" class="form-container hidden">
    <form th:action="@{/categories}" method="post">
        <input type="text" name="name" placeholder="Name of category" required>
        <button type="submit" class="btn btn-create_secondary">Save</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td>
            <span th:text="${category.name}" th:id="'label-' + ${category.id}"></span>

            <form th:id="'form-' + ${category.id}" class="inline-form hidden"
                  th:action="@{|/categories/${category.id}|}" method="post">
                <input type="hidden" name="_method" value="put"/>
                <input type="text" name="name" th:value="${category.name}" required/>
                <button type="submit" class="btn btn-create_secondary">Save</button>
            </form>
        </td>
        <td>
            <button class="btn btn-create_primary" th:onclick="'toggleEditForm(' + ${category.id} + ')'">Edit</button>

            <form th:action="@{|/categories/${category.id}|}" method="post" class="inline-form"
                  onsubmit="return confirm('Delete category?');">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script th:src="@{/js/script.js}"></script>
</body>
</html>