<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout :: head}"></th:block>
</head>
<th:block th:replace="~{layout :: header}"></th:block>
<div th:replace="layout :: layout">
    <div th:fragment="content" class="container">
        <h1>Edit word</h1>
        <form th:action="@{/api/words/words-list/edit}" th:object="${word}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>
            <label>Japanese word:
                <input type="text" th:field="*{japanese}" required/>
            </label><br>
            <label>Translation:
                <input type="text" th:field="*{translation}" required/>
            </label><br>
            <label>Example:
                <input type="text" th:field="*{example}" required/>
            </label><br>
            <label>Category:
                <select th:field="*{categoryId}">
                    <option value="" th:text="'-- No category --'"
                            th:selected="${word.categoryId == null}"></option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select>
            </label><br>
            <div class="mb-3" th:if="${word.imagePath != null}">
                <label class="form-label">Current image:</label>
                <div class="word-image">
                    <img th:src="@{${word.imagePath}}" alt="Current Image" style="max-width: 200px; height: auto;"/>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="deleteImage" name="deleteImage"/>
                    <label for="deleteImage" class="form-check-label">Delete current image</label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Upload new image (optional):</label>
                <input type="file" id="image" name="image" class="form-control" accept="image/*">
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
        <a class="btn btn-secondary" th:href="@{/api/words/words-list}">Back to list</a>
    </div>
</div>
</html>