<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout :: head}"></th:block>
</head>
<th:block th:replace="~{layout :: header}"></th:block>
<div th:replace="layout :: layout">
    <div th:fragment="content" class="container">
        <div class="main-header">
            <h1>Nihongo trainer</h1>
            <p>Welcome! Choose the section:</p>
        </div>

        <div class="menu-container">
            <a href="/api/words/words-list" class="menu-card">
                <h2>Cards with words</h2>
                <p>Manage, learn and sort Japanese words</p>
            </a>
            <a href="/categories" class="menu-card">
                <h2>Categories</h2>
                <p>Create and group words by topic</p>
            </a>
        </div>
    </div>
</div>
</html>